<!-- Header view across the whole system that containers site navigations -->

<!DOCTYPE html>

<head>
<!-- Bootstrap CDN link -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<!-- Navigation Bar with Nav Links -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href="#">ERP SYSTEM</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/index/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view_inventories/">INVENTORIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view_users/">CONFIG</a>
          </li>
            
        </ul>
        <!-- LOGOUT - TODO requires better way of logging out sessions  -->
        <a align="right" class="nav-link" href="/">LOGOUT</a>
      </div>
      


</nav>
<hr>

{% block content %}
{% endblock %} 
</body>

<!-- CSS Styling -->
<style>
    body{
        padding: 10px;
        box-sizing: border-box;
    }
</style>